<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Profile</title>
</head>
<body>
<h1>Cat - {{name}}</h1>
<hr>
<p><strong>Breed: {{breed}}</strong></p>
<p><strong>Color: {{color}}</strong></p>
<p><strong>Age: {{age}}</strong></p>
<hr>
<a href="/cats/create">Back</a>
</body>
</html>